:root {
	--image-width: 112px;
	--image-right-padding: 16px;
	--image-max-width: calc(var(--image-width) + var(--image-right-padding));
}

.cardContainer___WutLD {
	display: flex;
	flex: 1;
	max-width: calc(100vw - 32px);
	padding-bottom: 32px;
}

.image___HJgHG {
	margin: 0 auto;
	max-width: 128px;
	max-width: var(--image-max-width);
}

.subHeading___czh1F {
	padding: 12px 0;
}

.cardContent___NeOs3 {
	min-width: calc(100% - 128px);
	min-width: calc(100% - var(--image-max-width));
}

@media (min-width:768px) {
	.cardContainer___WutLD {
		flex-direction: column;
		margin: 0 24px;
		max-width: 391px;
		padding-bottom: 0;
	}
}

.multiThumbnailsRow___SpuhW {
	display: flex;
	flex-direction: column;
	padding-top: 48px;
}

@media (min-width:768px) {
	.multiThumbnailsRow___SpuhW {
		flex-direction: row;
		margin: 0 5vw;
	}
}

:root {
	--colorWhite: #fff;
	--colorNeutralCool: #f9f9f9;
	--colorNeutralWarm: #f2f0eb;
	--colorCeramic: #edebe9;
	--colorBlack: #000;
	--colorGreenAccent: #00754a;
	--colorGreenLight: #d4e9e2;
	--colorGreenUplift: #2b5148;
	--colorHouseGreen: #1e3932;
	--colorGold: #cba258;
	--colorGoldLight: #dfc49d;
	--colorGoldLightest: #faf6ee;
	--colorRed: #c82014;
	--colorYellow: #fbbc05;
	--colorWhiteHsl: 0 0% 100%;
	--colorNeutralCoolHsl: 0 0% 98%;
	--colorNeutralWarmHsl: 43 21% 94%;
	--colorCeramicHsl: 30 10% 92%;
	--colorBlackHsl: 0 0% 0%;
	--colorGreenAccentHsl: 158 100% 23%;
	--colorGreenLightHsl: 160 32% 87%;
	--colorHouseGreenHsl: 164 31% 17%;
	--colorGoldHsl: 39 53% 57%;
	--colorGoldLightHsl: 35 51% 75%;
	--colorGoldLightestHsl: 40 55% 96%;
	--colorRedHsl: 4 82% 43%;
	--colorYellowHsl: 45 97% 50%;
	--colorBlack6: #0000000f;
	--colorBlack10: #0000001a;
	--colorBlack20: #0003;
	--colorBlack30: #0000004d;
	--colorBlack40: #0006;
	--colorBlack50: #00000080;
	--colorBlack60: #0009;
	--colorBlack70: #000000b3;
	--colorBlack80: #000c;
	--colorBlack90: #000000e6;
	--colorWhite10: #ffffff1a;
	--colorWhite20: #fff3;
	--colorWhite30: #ffffff4d;
	--colorWhite40: #fff6;
	--colorWhite50: #ffffff80;
	--colorWhite60: #fff9;
	--colorWhite70: #ffffffb3;
	--colorWhite80: #fffc;
	--colorWhite90: #ffffffe6;
	--colorTextBlack: #000000de;
	--colorTextBlackSoft: #00000094;
	--colorTextWhite: #fff;
	--colorTextWhiteSoft: #ffffffb3;
	--typefaceLoading: Helvetica Neue,Helvetica,Arial,sans-serif;
	--typefacePrimary: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
	--textSize1: 13px;
	--textSize1: 1.3rem;
	--textSize2: 14px;
	--textSize2: 1.4rem;
	--textSize3: 16px;
	--textSize3: 1.6rem;
	--textSize4: 19px;
	--textSize4: 1.9rem;
	--textSize5: 20px;
	--textSize5: 2.0rem;
	--textSize6: 22px;
	--textSize6: 2.2rem;
	--textSize7: 24px;
	--textSize7: 2.4rem;
	--textSize8: 28px;
	--textSize8: 2.8rem;
	--textSize9: 36px;
	--textSize9: 3.6rem;
	--textSize10: 50px;
	--textSize10: 5.0rem;
	--letterSpacingNormal: -0.01em;
	--letterSpacingLoose: 0.1em;
	--letterSpacingLooser: 0.15em;
	--lineHeightNormal: 1.5;
	--lineHeightCompact: 1.2;
	--space-1: 4px;
	--space-1: .4rem;
	--space-2: 8px;
	--space-2: .8rem;
	--space-3: 16px;
	--space-3: 1.6rem;
	--space-4: 24px;
	--space-4: 2.4rem;
	--space-5: 32px;
	--space-5: 3.2rem;
	--space-6: 40px;
	--space-6: 4rem;
	--space-7: 48px;
	--space-7: 4.8rem;
	--space-8: 56px;
	--space-8: 5.6rem;
	--space-9: 64px;
	--space-9: 6.4rem;
	--frapPadding: 90px;
	--frapPadding: 9rem;
	--frapPaddingDouble: 146px;
	--frapPaddingDouble: 14.6rem;
	--logoOffsetMd: 99px;
	--logoOffsetLg: 131px;
	--outerGutter: 16px;
	--outerGutter: 1.6rem;
	--outerGutterMedium: 24px;
	--outerGutterMedium: 2.4rem;
	--outerGutterLarge: 40px;
	--outerGutterLarge: 4.0rem;
	--headerCrateOuterGutterLarge: 40px;
	--headerCrateOuterGutterLarge: 4.0rem;
	--buttonActiveScale: scale(0.95);
	--buttonBorderRadius: 50px;
	--buttonBorderWidth: 1px;
	--buttonLineHeight: 1.2;
	--buttonPadding: 7px 16px;
	--buttonTransition: all 0.2s ease;
	--validFieldTintBackground: hsl(var(--colorGreenLightHsl)/33%);
	--invalidFieldTintBackground: hsl(var(--colorRedHsl)/5%);
	--floatLabelFontSizeMobile: 16px;
	--floatLabelFontSizeMobile: 1.6rem;
	--floatLabelActiveFontSizeMobile: 13px;
	--floatLabelActiveFontSizeMobile: 1.3rem;
	--floatLabelFontSizeDesktop: 19px;
	--floatLabelFontSizeDesktop: 1.9rem;
	--floatLabelActiveFontSizeDesktop: 14px;
	--floatLabelActiveFontSizeDesktop: 1.4rem;
	--formHorizontalPadding: 16px;
	--formHorizontalPadding: 1.6rem;
	--headerCrateProportion: 40vw;
	--contentCrateProportion: 60vw;
	--globalNavHeightXs: 64px;
	--globalNavHeightMobile: 72px;
	--globalNavHeightTablet: 83px;
	--globalNavHeightDesktop: 99px;
	--globalSubnavHeight: 53px;
	--cardBorderRadius: 12px;
	--cardBoxShadow: 0px 0px .5px 0px #00000024,0px 1px 1px 0px #0000003d;
	--cardBackgroundColor: #fff;
	--columnWidthSmall: 343px;
	--columnWidthMedium: 500px;
	--columnWidthLarge: 720px;
	--columnWidthXLarge: 1440px;
	--defaultAnimationEntranceDuration: 300ms;
	--defaultAnimationExitDuration: 200ms;
	--defaultAnimationEasing: cubic-bezier(0.25,0.1,0.25,1);
	--svcRoundedCorners: 3.3333%/5.298%;
	--svcShadowFilter: drop-shadow(0px 4px 1px #0000001c) drop-shadow(0px 0px 2px #0000003d);
	--colorWhiteWarm: #fbf5e8;
	--colorGreenSlate: #32462f;
}

.bgWhiteWarm___TuE21 {
	background-color: #fbf5e8;
	background-color: var(--colorWhiteWarm);
}

.colorGreenSlate___mOdmp {
	color: #32462f;
	color: var(--colorGreenSlate);
}

.letterSpacingNormal___lx83S {
	letter-spacing: -.01em!important;
	letter-spacing: var(--letterSpacingNormal)!important;
}

.banner___jUjEk {
	box-shadow: 0 4px 4px 0 #0000001f,0 0 2px 0 #0000003d;
	height: 50px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 3;
}

.tabContent___wIoEz {
	box-shadow: inset 0 7px 9px -7px #00000024;
}

.tabContentImage___olDcV {
	height: auto;
	width: 100%;
}

.tabDescription___RXS27 {
	max-width: 700px;
}

.tabContentHeader___UdTvv {
	text-align: center;
}

@media (min-width:768px) {
	.tabContentSection___aXTkK {
		max-width: 375px;
	}

	.tabContentHeader___UdTvv {
		text-align: left;
	}

	.tabList___qhb_c {
		max-width: 540px;
	}
}

.starsImage___W0IwZ {
	background-size: cover;
	padding: 10% 10% 5%;
	width: 20%;
}

.leftStars___e8vDi {
	align-self: flex-start;
	background-image: url(/app-assets/c7d010ad5c5f6c00d544.svg);
}

.rightStars___oTnzp {
	align-self: flex-end;
	background-image: url(/app-assets/c87d1677e476d2d20e5f.svg);
}

@media (min-width:768px) {
	.starsImage___W0IwZ {
		align-self: center;
		padding: 18% 10%;
		width: auto;
	}

	.leftStars___e8vDi {
		background-image: url(/app-assets/7997fb008f368630d3ca.svg);
	}

	.rightStars___oTnzp {
		background-image: url(/app-assets/b7e1b20df72e802cb1cf.svg);
	}
}

.target___dtVO1:target {
	animation: flash-bg___L91kr 2s;
	scroll-margin-top: 100px;
}

@keyframes flash-bg___L91kr {
	0% {
		background: hsl(var(--colorYellowHsl)/0%);
	}

	50% {
		background: hsl(var(--colorYellowHsl)/80%);
	}

	to {
		background: hsl(var(--colorYellowHsl)/0%);
	}
}

.innerBox___bxmg2,.outerBox___wRsUI {
	background-color: var(--colorGreenLight);
}

.contentColumn___WZK68 {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.programContainer___fcxqQ {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 32px 3px;
}

.contentContainer___fskps {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 20px 2px;
}

.imageContainer___AhS0H {
	min-width: 112px;
}

.offset___G8T6J {
	scroll-margin-top: 51px;
}

@media (min-width:480px) {
	.programContainer___fcxqQ {
		flex-direction: column;
		padding: 32px 5px;
	}
}

@media (min-width:768px) {
	.outerBox___wRsUI {
		background-color: #fff;
		background-image: url(/app-assets/844262945b2a8b8cfb29.png);
		background-size: cover;
	}

	.contentColumn___WZK68 {
		flex-direction: row;
	}

	.programContainer___fcxqQ {
		flex-direction: row;
		padding: 32px 3px;
	}

	.contentContainer___fskps {
		flex-direction: column;
	}
}

@media (min-width:1024px) {
	.programContainer___fcxqQ {
		padding: 32px 5px;
	}
}

@media (min-width:1280px) {
	.programContainer___fcxqQ {
		padding: 32px 20px;
	}
}

@media (min-width:1600px) {
	.programContainer___fcxqQ {
		padding: 32px 50px;
	}
}

.contentBlocks___ywOLt {
	padding-bottom: var(--space-9);
	padding-top: var(--space-9);
}

@media (min-width:1024px) {
	.contentBlocks___ywOLt {
		padding-bottom: 128px;
		padding-top: 128px;
	}
}

.textLowercase___uM2em {
	text-transform: lowercase;
}
